:root {
    --color1: #080808;
    --color2: #d6d6d6;
    --color3: #a5a5a5;
}
* {
    font-family: arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    color: #d6d6d6;
    scrollbar-width: none;
    list-style: none;
    text-decoration: none;
    letter-spacing: 2px;
}
::-webkit-scrollbar {
    display: none;
}
html, body {
    background: var(--color2);
    transition: .3s;
}
main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: var(--color2);
    width: 100vw;
    height: 100vh;
}
.my {
    color: #080808;
    position: absolute;
    top: 15px;
    right: 15px;
}
.seta {
    font-size: 2em;
    color: #080808;
    position: absolute;
    top: 15px;
    right: 30px;
}
.artemis {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: var(--color1);
    width: 100%;
    height: 85%;
    border-radius: 45% 45% 0% 0% / 14% 14% 25% 25%;
}
.env-all {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 79%;
    padding-top: 12px;
}
.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 11%;
}
.circle {
    background: var(--color3) url(../img/jackk_by.jpg) center no-repeat ;
    background-size: cover;
    width: 98px;
    height: 98px;
    border-radius: 50%;
}
.am {
    background: var(--color3) url(../img/jack.jpg) center no-repeat ;
    background-size: cover;
}
h1 {
    color: #d6d6d6;
    font-weight: lighter;
    font-size: 1.7em
}
.env-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.social {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin: 0px 10px;
}
.instagram {
    background: url(../img/instagram.svg) center no-repeat ;
}
.tiktok {
    background: url(../img/tik-tok.svg) center no-repeat;
}
.env-copy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: auto;
    margin-bottom: 30px;
}
.env-copy p {
    text-align: center;
}
.env-copy strong {
    font-size: 1.2em;
}
.env-prod {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 15px;
    width: 80%;
    height: auto;
    margin-bottom: 0px;
}
.prod {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--color2);
    width: 100%;
    height: 80px;
    border-radius: 100px;
    padding: 15px;
    overflow: hidden;
}
.prod-img {
    background: var(--color3);
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.prod-name {
    color: #080808;
    font-size: 1.3em;
    margin-left: 10px;
}
.prod1 {
    background: var(--color3) url(../img/venda.jpg) center no-repeat;
    background-size: cover;
}
.prod2 {
    background: var(--color3) url(../img/videos.jpg) center no-repeat;
    background-size: cover;
}
.prod3 {
    background: var(--color3) url(../img/PLRS.jpg) center no-repeat;
    background-size: cover;
}